// Sidebar specific styles

.sidebar{
	text-align: right;
	text-shadow: 2px 2px 2px $cMainBackground;
}

.sidebar h3 {
	padding-bottom: 0.7em;  // 28px like the space between h3 in main-supporting
}

.design-name, .design-archives ul a, .zen-resources ul a{
	display: block;
}

.designer-name{
	text-transform: uppercase;
	border-bottom: 1px solid $cLink;
	&:hover {
        border-bottom: 1px solid $cLinkHover;
    }
}

.design-selection .design-name, .design-archives ul, .zen-resources ul{
	font-size: 1.25rem;
}

.design-selection, .design-archives, .zen-resources{
	width: 13rem;
	margin-bottom: 3.5em;
}

.design-selection nav li{
	display: inline-block;
}

.design-selection ul li{
	margin-bottom: 1.25rem;
}

.design-archives ul li, .zen-resources ul li{
	margin-bottom: 0.5rem;
}

@media(max-width: $mFirstReduce){
	.design-selection{
		width: 50%;
	}

	.design-archives, .zen-resources{
		width: 20%;
	}

	.design-selection, .design-archives, .zen-resources{
		float: left;
	}

	.sidebar .wrapper:after {
		content: "";
		display: block;
		clear: both;
		visibility: hidden;
	}

	.design-selection, .design-archives{
		margin-right: 5%;
	}

	.design-selection nav{
		columns: 2;
	}
}

@media(max-width: $mSecondReduce){
	.zen-resources{
		float: none;
	}
}

@media(max-width: $mThirdReduce){
	.sidebar{
		text-align: center;
	}

	.design-selection{
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 25em;
		padding-left: 2.5rem;
	}

	.design-selection, .design-archives, .zen-resources{
		width: auto;
		text-align: left;
	}

	.design-archives, .zen-resources{
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.design-archives{
		margin-right: 6rem;
	}
}

@media(max-width: $mFourthReduce){
	.design-selection .design-name, .design-archives ul, .zen-resources ul{
        font-size: 1rem;
    }

	.design-selection{
		margin-left: inherit;
		margin-right: inherit;
		padding-left: 0;
	}

	.design-selection nav{
		columns: inherit;
	}

	.design-selection nav li{
		display: block;
	}

	.design-archives, .zen-resources{
		display: block;
	}
}
