// Global colors variables

// Backgrounds colors
$cMainBackground: #00707E;
$cHeaderBackground: #FFDEAA;
$cSummaryBackground: lighten($cHeaderBackground, 5%);

// Texts colors
$cLaborText: #FFFFFF;
$cHeaderTexte: #512715;
$cLink: #00E6FF;
$cLinkHover: lighten( $cLink, 25% );
$cLinkSummary: $cMainBackground;
$cLinkSummaryHover: lighten( $cLinkSummary, 15% );

// Borders colors

// Shadows colors
$cHeaderShadow: #D2B88E;

// Others colors
